<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardMapper">
	<select id="selectNow" resultType="String">
		select now();
	</select>
	
	<!-- 게시판 글 작성 -->
	<insert id="insert" parameterType="com.board.vo.BoardVo">
	INSERT INTO board
	(name,
	title,
	content,
	regdate)
	VALUES
	( #{name}, #{title}, #{content}, now());
	</insert>
	
	<!-- 게시판 전체 조회 -->
	<select id="selectBoardAll" resultType="com.board.vo.BoardVo">
		SELECT  id
			   , division
			   , TITLE
			   , name
			   , REGDATE
		FROM board
	</select>
	
	<!-- 게시판 단건 조회 -->
	<select id="selectBoard" parameterType="int" resultType="com.board.vo.BoardVo">
		SELECT	id
			  , TITLE
			  , CONTENT
			  , name
			  , REGDATE
		 FROM board
		 WHERE id = #{id}
	</select>
	
	<!-- 게시판 수정 -->
	<update id="updateBoard" parameterType="com.board.vo.BoardVo">
		UPDATE board
		   SET TITLE    =   #{title},
		   	   CONTENT  =   #{content},
			   up_date	=	now()
		 WHERE id = #{id} 
	</update>
	
	<!-- 게시판 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE 
		  FROM board
		 WHERE id = #{id}
	</delete>
	
	<!-- 자유 게시판 목록 -->
	<select id="listFreeBoard" resultType="com.board.vo.BoardVo">
		SELECT  id
			   , TITLE
			   , name
			   , REGDATE
		FROM board
		WHERE DIVISION = 'free'
	</select>
	
	<!--  자유 게시판 글 작성 -->
	<insert id="freeBoardInsert" parameterType="com.board.vo.BoardVo">
	INSERT INTO board (
		name
		, title
		, content
		, division
		, regdate
	)
	VALUES 
	(
		#{name}
		, #{title}
		, #{content}
		, 'free'
		, now()
	)		
	</insert>
	
	<!-- 자바 게시판 목록 -->
	<select id="listJavaBoard" resultType="com.board.vo.BoardVo">
		SELECT  id
			   , TITLE
			   , name
			   , REGDATE
		FROM board
		WHERE DIVISION = 'java'
	</select>
	
	<!--  자바 게시판 글 작성 -->
	<insert id="javaBoardInsert" parameterType="com.board.vo.BoardVo">
	INSERT INTO board (
		name
		, title
		, content
		, division
		, regdate
	)
	VALUES 
	(
		#{name}
		, #{title}
		, #{content}
		, 'java'
		, now()
	)		
	</insert>
	
	<!--sql 게시판 목록 -->
	<select id="listSqlBoard" resultType="com.board.vo.BoardVo">
		SELECT  id
			   , TITLE
			   , name
			   , REGDATE
		FROM board
		WHERE DIVISION = 'sql'
	</select>
	
	<!--  sql 게시판 글 작성 -->
	<insert id="sqlBoardInsert" parameterType="com.board.vo.BoardVo">
	INSERT INTO board (
		name
		, title
		, content
		, division
		, regdate
	)
	VALUES 
	(
		#{name}
		, #{title}
		, #{content}
		, 'sql'
		, now()
	)		
	</insert>
	
	<!--reivew 게시판 목록 -->
	<select id="listReviewBoard" resultType="com.board.vo.BoardVo">
		SELECT  id
			   , TITLE
			   , name
			   , REGDATE
		FROM board
		WHERE DIVISION = 'reviw'
	</select>
	
	<!--  review 게시판 글 작성 -->
	<insert id="reviewBoardInsert" parameterType="com.board.vo.BoardVo">
	INSERT INTO board (
		name
		, title
		, content
		, division
		, regdate
	)
	VALUES 
	(
		#{name}
		, #{title}
		, #{content}
		, 'reviw'
		, now()
	)		
	</insert>
	
	<select id="boardCnt" resultType="int">
	SELECT COUNT(*)
	FROM board
	</select>
	
	<select id="selectPage" parameterType="Map" resultType="com.board.vo.BoardVo">
	SELECT
			ID
			, TITLE
			, NAME
			, DIVISION
			, REGDATE
			, SEL_CNT
	FROM board
	ORDER BY REGDATE DESC
	LIMIT #{offset}, #{pageSize}
	</select>
	
	<update id="selCntUp" parameterType="int">
	UPDATE board
		SET 
			SEL_CNT = IFNULL((SEL_CNT)+1,1)
	WHERE ID = #{id}
	</update>
	
</mapper>