<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userMapper">
	<!-- 회원 가입 -->
	<insert id="userAdd">
	INSERT INTO userinfo
	(id,
	pwd,
	name,
	email,
	birth,
	address,
	addressdetail,
	mobile,
	reg_date)
	VALUES
	( #{id},
	  #{pwd},
	  #{name}, 
	  #{email},
	  #{birth},
	  #{address},
	  #{addressdetail},
	  #{mobile},
	  now());
	</insert>

	<!-- 회원 정보 조회 -->
	<select id="userSelect" parameterType="string" resultType="com.board.vo.UserVo">
	SELECT	*
	FROM userinfo
	WHERE id = #{id}	
	</select>
	
	<!-- 패스워드 변경 -->
	<update id="updatePwd" parameterType="string">
	UPDATE USERINFO
		SET
			PWD 		= #{pwd}
			,UP_DATE = CURRENT_TIMESTAMP
	WHERE 1 = 1
		AND ID 		= #{id};
	
	</update>
	
	<!-- 회원 조회 카운트  -->
	<select id="selectUserCnt" parameterType="String" resultType="Int">
	SELECT 
		COUNT(*)
	FROM 
		USERINFO
	WHERE 1 = 1
		AND ID = #{id}	
	</select>

</mapper>